<div class="container">
    <div class-"row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3"
            <h1>Cocktail Show Page</h1>
            <h2><%= @cocktail.name %></h2>

            <ul>
                <% @cocktail.doses.each do |dose| %>
                    <li>
                    <p><%= dose.description %><%p>
                    <%= dose.id %>
                    <%= dose.description %> of <%= dose.ingredient.name %>
                    <%= link_to " Delete ", cocktail_dose_path(@cocktail, dose), method: :delete, data: {confirm: "Are you sure?"} %>
                    <i class="fa fa-trash-alt">
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>
